.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-name{
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}


.Movie-wrapper {
  width: 500px;
  background-color: antiquewhite;
  color: black;  
  padding-top: 30px;
}
.Movie-search{
 width: 30%;
 height: 30px; 
 font-size: 24px;
 padding-bottom: 20px;
 padding: 20px;
 margin-bottom: 1rem;
}
.Movie-title{
  padding-bottom: 10px;
  font-weight: bold;
}
.Movie-rate{
  color: orangered;
  padding-bottom: 10px;
  font-weight: bold;
}